header {
    background-color: #0D1227;
    padding: 20px;
    text-align: left;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav li {
    display: inline-block;
    margin-right: 20px;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 10px;
}

ul li{
    list-style: none;
    margin-bottom: 12px;
}

.logo {
    width: 200px;
    height: 150px;
    margin: 0 auto;
}

.icon-header {
    display: flex;
    align-items: center;
    font-size: 30px;
    margin-right: 70px;
}

.icon-header i {
    margin-left: 40px
}
.footer {
    background-color: #0D1227;
    color: white;
    padding: 50px;
    font-size: 13px;
    text-align: center;
}

.row {
    width: 90%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    text-align: left;
    justify-content: space-around;
}


.column {
    flex-basis: 10%;
    padding: 10px;
    font-size: 20px;
    margin-right: 10px;
}
.column.payment-method {
    margin-left: 20px;
}

.logo {
    max-width: 300px;
    height: auto;
    display: block;
    margin: 0 auto;
    margin-right: 20%;
    padding-right: 350px;
    padding-left: 50px;
}

.product {
    flex: 0 0 calc(33.33% - 10px);
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
}

.product-image {
    height:250px;
    width: 250px;
}

@media (max-width: 768px) {
    .product {
        flex: 0 0 calc(50% - 10px);
    }
}

.product:nth-child(4),
.product:nth-child(5) {
    margin: 0 211px;
}

.more {
    font-size: 25px;
    text-align: center;
    background-color: #172663;
    
}